[core]
	pager = less -cm
	quotepath = false
	editor = vim

[user]
	[includeIf "gitdir:~/ghq/github.com/"]
		path = ~/.config/git/github.conf
	[includeIf "gitdir:~/venv"]
		path = ~/.config/git/github.conf
	[includeIf "gitdir:~/venv/hf"]
		path = ~/.config/git/huggingface.conf

[credential]
	helper = cache --timeout=86400

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[ghq]
	root = ~/ghq

[github]
	user = ngc-shj
